* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d6efd;
  padding: 10px 20px;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo-img {
  height: 20px;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.auth-buttons button {
  margin-left: 10px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: white;
  color: #0d6efd;
  cursor: pointer;
}

.filters {
  padding: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.filters input, .filters .search-btn {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-btn {
  background-color: #0d6efd;
  color: white;
  border: none;
  cursor: pointer;
}


.cards-section {
  padding: 30px 20px;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
}

.card button {
  margin-top: 10px;
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.footer {
  background-color: #0d6efd;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}